@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-slate-50 text-slate-900 overflow-hidden;
    font-feature-settings: "pkna", "ss01", "ss02", "cv01";
  }

  /* Global Scrollbar Removals for that "App" feel */
  ::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .glass-card {
    @apply bg-white/80 backdrop-blur-xl border border-white/20 shadow-xl;
  }
}