version: '3.8'

services:
  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    volumes:
      - ./worker:/app
    environment:
      - LIVEKIT_URL=${LIVEKIT_URL}
      - LIVEKIT_API_KEY=${LIVEKIT_API_KEY}
      - LIVEKIT_API_SECRET=${LIVEKIT_API_SECRET}
      - MODEL_SIZE=${MODEL_SIZE}
      - WHISPER_DEVICE=${WHISPER_DEVICE}
      - WHISPER_COMPUTE=${WHISPER_COMPUTE}
      - PORT=9000
